---
import Carrousel from "../../components/Carrousel/Carrousel";
import ReviewComments from "../../components/ReviewComments/ReviewComments";
import ReviewInput from '../../components/ReviewInput/ReviewInput';
import Map from '../../components/Map/Map'; 
import Layout from '../../layouts/Layout.astro';
import { placesData } from "../../data/places";

const { placeId } = Astro.params;
const placeDetails = placesData.find(
  // use -1 to avoid passing null as an argument to parseInt
  (place) => place.id === parseInt(placeId != null ? placeId : "-1"),
);

if (!placeDetails) {
  Astro.response.status = 404;
  Astro.response.statusText = 'Not found';
  throw Error("no page with this id was found")
};

const handleReviewSubmit = (reviewText: string) => {
  console.log(`Review submitted for place ${placeDetails.name}: ${reviewText}`);
  // Aquí puedes agregar lógica para enviar la reseña a tu backend
};
---
<style>
      .place-details {
        padding: 20px;
        max-width: 800px;
        margin: 0 auto;
      }

      .place-details h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-align: center;
      }

      .place-info {
        display: flex;
        flex-direction: column;
      }

      .place-info p {
        margin-bottom: 10px;
      }

      .place-content {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }

      .place-images,
      .place-map {
        flex: 1;
        margin-right: 20px;
      }

      .place-map {
        margin-left: 20px;
      }
</style>
<Layout title=`${placeDetails.name} - Hossio``>
    <main class="place-details">
      <h1>{placeDetails.name}</h1>
      <div class="place-content">
        <div class="place-images">
          <Carrousel client:load images={placeDetails.images} />
        </div>
        <div class="place-map">
          <Map client:only="react" latitude={placeDetails.latitude} longitude={placeDetails.longitude} name={placeDetails.name} />
        </div>
      </div>
      <div class="place-info">
        <p>{placeDetails.description}</p>
        <p>Calificación promedio: {placeDetails.rating} / 5</p>
      </div>
      <ReviewInput client:load placeId={placeDetails.id} onSubmit={handleReviewSubmit} />
      <ReviewComments client:visible reviews={placeDetails.reviews} />
    </main>
  </Layout>
